script(src="/javascripts/jquery-1.11.1.min.js")
script(src="/javascripts/jquery.validate.min.js")
script(src="/javascripts/userLoginValidation.js")
#header
	table
		tr
			td
				a(href='/') Home
			td			
				a(href='../jokes/jokelist') Joke List
			td
				a(href='../jokes/newJoke') Submit a Joke
			td
				a(href='../users') Register User
			td(class="loginLogout")
				#loginLogout
					unless session.user
						form#formAuthUser(name="authuser",method="post",action="/users/authUser")
							input#inputUserName(type="text", placeholder="username", name="username")
							input#inputPassword(type="text", placeholder="password", name="password") 
							button#btnSubmit(type="submit") submit
					else
						form#formLogout(name="logout",method="post",action="/users/logout")
							button#btnSubmit(type="submit") Logout