extends layout

block content
		p.
			These are the Dad jokes  
		ul
			each joke, i in jokes
				li(class="joke") 
					a(href="http://localhost:3000/jokes?jokeid=#{joke._id}")= joke.setup
					p.
						Submitted by #{joke.author}
