extends layout

block content
	script(src="/javascripts/newUserValidation.js")
	h1= title
	form#formAddUser(name="adduser",method="post",action="/users/adduser")
		input#inputNewUserName(type="text", placeholder="username", name="username")
		input#inputNewPassword(type="password", placeholder="password", name="password")
		button#btnSubmit(type="submit") Submit
	#errorUserMessage