tr td:last-child {
	float: right;
} 

#header table, #footer table {
	width: 100%
}

#header, #footer, #latestJoke {
	background-color: #00A8C6;
	border: 2px solid;    
}

#latestJoke {
	border-radius: 25px;
	text-align: center
}

#jokeEntry {
	border-radius: 25px;
}

#header {
	padding:10px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#content{
	padding:10px;
	padding-bottom:90px;
}

#headercontentfooter{
	min-height:100%;
	position:relative;
}

#footer{
	width:99.7%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #3B2D38;
	color: #F9F2E7;
}

a {
	color: black;
	font-weight: bold;
}

li.joke {
	background-color: white;
	border: 2px solid;
	border-radius: 5px;
		padding-left: 10px;
}

li.joke:nth-child(odd) {
    color: black;
    background-color: #F0FFFF;
}
li.joke:nth-child(even) {
    color: black;
}

#frontIntro {
	text-align: center
}




