tr td:last-child {
	float: right;
} 

#header table, #footer table {
	width: 100%
}

#header, #footer {
	background-color: #C0C0C0;
}

#header {
	padding:10px;
}

#content{
	padding:10px;
	padding-bottom:90px; 
}

#headercontentfooter{
	min-height:100%;
	position:relative;
}

#footer{
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

a {
	color: #00B7FF;
}